{%extends 'base.html'%}
{%block content%}

{%for message in get_flashed_messages()%}
<div class="alert alert-primary fade show alert-dismissable" role="alert">
    <strong>Hey {{name}}</strong> - {{message}}
  </div>
{%endfor%}

{%if name %}
    <h1>Hello {{ name }}</h1>
{% else %}
    <h1>User List:</h1>
    <br/> 
    <form method="post">
        {{form.hidden_tag()}}
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        <br/>
        {{form.hidden_tag()}}
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}
        <br/>
        {{form.submit(class="btn btn-dark")}}
    </form>
    <br/><br/><br/>
    {%for our_user in our_users%}
        {{our_user.id}} - {{our_user.name}} - {{our_user.email}}<br/>
    {%endfor%}
{%endif%}
{%endblock%} 